/* App.css */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

/* Estilos adicionales para el contenido debajo del encabezado */
.content {
  width: 100%;
  max-width: 800px; /* Puedes ajustar el ancho máximo según tus necesidades */
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  padding: 20px;
  background-color: #f1f1f1;
}
