.header-container {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .image-container {
    flex-shrink: 0;
    align-items: center;
    margin-right: 45px;
  }
  
  .image-container img {
    max-width: 250px;
    height: auto;
    border-radius: 90% 40% 90% 40%;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 5px #000000);
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1,p{
    margin: 0;
  }
  .quote-container {
    width: 500px;
    color: gray;
  }
  
  .content-container h1 {
    font-weight: bold;
    color: rgb(70, 0, 66);
    transition: 0.8s;
  }
  
  .content-container p {
    color: gray;
    font-weight: bold;
    font-size: 1.2em;
    font-family: cursive;
  }
  
  @media (max-width: 850px) {
    .header-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .image-container {
      margin-bottom: 10px;
      justify-content: center;
    }
  
    .image-container img {
      max-width: 60%;
    }
  
    .content-container {
      align-items: center;
    }
  
    .content-container h1 {
      font-size: 1.5rem;
    }
  
    .content-container p {
      font-size: 1rem;
    }
  
    .quote-container {
      width: 200px;
      color: gray;
    }
  }