.Tittle-Skills{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(70, 0, 66);
    font-family: cursive;
    margin: 0;
}
.Tittle-movible{
    color: rgb(70, 0, 66);
}