@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$primary-color: #fff;
$background-image: url('../../assets/wallpaperflare.com_wallpaper\ \(7\).jpg');
$box-size: 400px;
$border-color: rgba($primary-color, 0.5);
$blur-radius: 15px;
$font-size: 1em;
$icon-size: 1.2em;
$button-height: 40px;
$button-radius: 40px;
$register-margin: 25px;

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 233, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

button.complete {
  background-color: green;
  /* Otros estilos para el botón completo */
}

.form-box {
  position: relative;
  width: $box-size;
  height: 480px;
  background: transparent;
  border: 2px solid $border-color;
  border-radius: 20px;
  backdrop-filter: blur($blur-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: $primary-color;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid $primary-color;

  label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: $primary-color;
    font-size: $font-size;
    pointer-events: none;
    transition: .5s;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -6px;
  }

  input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: $font-size;
    padding: 0 35px 0 5px;
    color: $primary-color;
  }

  ion-icon {
    position: absolute;
    right: 8px;
    color: $primary-color;
    font-size: $icon-size;
    top: 20px;
  }
}
.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: $primary-color;
  display: flex;
  justify-content: space-between;

  label {
    input {
      margin-right: 3px;
    }

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: blue;
        transition-duration: 0.2s;
      }
    }
  }
}

button {
  width: 100%;
  height: $button-height;
  border-radius: $button-radius;
  background: $primary-color;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: $font-size;
  font-weight: 600;
}

.register {
  font-size: .9em;
  color: $primary-color;
  text-align: center;
  margin: $register-margin 0 10px;

  p {
    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        color: blue;
        transition-duration: 0.2s;
      }
    }
  }
}

.logo-image {
  width: 80px;
  height: auto;
}
